### 설문조사 자료 전처리
    
    최초 작성일 : 20/04/09
    작성자 : 조예슬
    
    < 작성내용 >
        
            - 20대 여자 퍼스널컬러 목적 검색수 전처리

    < 출처 >
    은주언니 햣!!▼
    https://github.com/slmteruto/CAI/blob/master/jay/Statistical%20hypothesis%20testing/Survey_preprocessing.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

### 20대 여성 퍼스널컬러 목적 검색수

In [4]:
# 설문 결과 불러오기 
data1 = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/데이터랩_퍼스널컬러_목적_전체기간.xlsx",
                      sheet_name = 'Total', header = 3, na_values = 'NaN',
                      usecols = "B, D, E, F, G, H, I, J, K")

## ab(absolute) : 절대값, rel(relative) : 상대값
data1.rename(columns={data1.columns[0]:"date",
                     data1.columns[1]:"clothes_rel",
                     data1.columns[2]:"clothes_ab",
                     data1.columns[3]:"cosmetic_rel",
                     data1.columns[4]:"cosmetic_ab",
                     data1.columns[5]:"dye_rel",
                     data1.columns[6]:"dye_ab",
                     data1.columns[7]:"accessory_rel",
                     data1.columns[8]:"accessory_ab"}, inplace=True)

# 전처리
## date 쪼개기
data1["Year"] = data1.date.str.split("-").str[0]
data1["Month"] = data1.date.str.split("-").str[1]
data1["Day"] = data1.date.str.split("-").str[2]

## 필요없는 컬럼 지우기 
del data1["date"]

## 순서정렬
data1 = data1[["Year", "Month", "Day",
              "clothes_rel", "clothes_ab", "cosmetic_rel", "cosmetic_ab", "dye_rel", "dye_ab", "accessory_rel", "accessory_ab"]]

data1

,Year,Month,Day,clothes_rel,clothes_ab,cosmetic_rel,cosmetic_ab,dye_rel,dye_ab,accessory_rel,accessory_ab
0,2016,01,01,39.01018,757,53.90625,1656,57.71058,1886,35.89015,535
1,2016,01,02,43.66812,847,63.14338,1939,68.33693,2233,43.75000,652
2,2016,01,03,45.99708,891,67.00367,2055,66.04751,2155,43.37121,646
3,2016,01,04,52.91120,1028,57.67463,1775,60.86393,1993,41.57196,621
4,2016,01,05,49.19941,954,53.12500,1632,53.17494,1738,38.82575,579
...,...,...,...,...,...,...,...,...,...,...,...
1542,2020,03,22,61.42649,1193,30.65257,943,38.96328,1275,47.44318,708
1543,2020,03,23,64.19213,1246,31.43382,967,37.58099,1230,47.63257,711
1544,2020,03,24,65.50218,1274,32.99632,1016,39.95680,1309,52.46212,784
1545,2020,03,25,74.81804,1453,36.48897,1122,43.75809,1432,59.75378,892
1546,2020,03,26,68.63173,1333,33.63970,1035,44.36285,1452,55.58712,830

In [5]:
# data1 전처리 결과 저장
data1.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/datalab_purpose.csv")